// Varbase Hero slider media theme variables.
 
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);


// Custom Varbase Hero slider media variables.
// -----------------------------------------------------------------------------
// Text color.
@hero-title-text-color: #fff;
@hero-brief-text-color: #fff;
@hero-link-text-color: #fff;

// Font sizes with responsive sizes.
@hero-xlarge-title-font-size-xs: 3.3rem;
@hero-xlarge-title-font-size-sm: 57px;
@hero-xlarge-title-font-size-md: 57px;
@hero-xlarge-title-font-size-lg: 57px;

// Hero content style.
@hero-content-hover-opacity: 0.7;
@hero-content-background-color1: rgb(0,0,0);
@hero-content-background-color2: rgba(0,0,0,0.3);

// Empty hero background color.
@hero-empty-view-background: #e0e0e0;

// Gatter for arrow of navigation.
@hero-arrow-gatter: 10px;

// Height for screen size and less.
@hero-min-height: 300px;
@hero-max-height: 300px;

// For screen size sm and more.
@hero-min-height-sm: 600px;
@hero-max-height-sm: 600px;

@hero-container-v-padding: 60px;
